{% extends "homeviewapp/base.html" %}
{% load bootstrap4 %}

{%block content%}
<div class="container">
  <div class="jumbotron">
    <div class="row justify-content-center">
      <h1>Witaj w aplikacji Get Organized!</h1>
    </div>

    <div class="row justify-content-center">
      <p>Prostej aplikacji do zarządzania zadaniami</p>
    </div>


  </div>

  {%if user.is_active%}

      <div class="card bg-light mb-3">
            <div class="card-header">
                <h3>Zadania</h3>
            </div>

            <div class="card-body">
              <h5>Nowe zadanie</h5>
              <a class="btn btn-primary text-white" href="/todoapp/create/">Utwórz</a> 
              <hr>

              <h5 class="card-title" >Listy:</h5>
              <a class="btn btn-primary text-white"  href="{% url 'todo_app:currenttodos' username=user.username done=0 shared=0 %}">Bieżące</a>
              <a class="btn btn-primary text-white"  href="{% url 'todo_app:currenttodos' username=user.username done=1 shared=0 %}">Ukończone</a>
              <a class="btn btn-primary text-white"  href="{% url 'todo_app:currenttodos' username=user.username done=0 shared=1 %}">Udostępnione</a>         
              <hr>  

              <h5 class="card-title">Hashtagi:</h5>
              {% for todo_el in todos_unique_tags %}
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'todo_app:tagsview' username=logged_user tag=todo_el.slug %}">
                    #{{todo_el.name}}&nbsp
                </a>
              {%endfor%}
          </div>
        </div>

        <div class="card bg-light mb-3">
          <div class="card-header">
              <h3>Notatki</h3>
          </div>

          <div class="card-body">
            <h5>Nowa notatka</h5>
            <a class="btn btn-primary text-white" href="/notesapp/create/">Utwórz</a> 
            <hr>

            <h5 class="card-title" >Notatki:</h5>
            <a class="btn btn-primary text-white"  href="{% url 'notes_app:allnotes' option=0 %}">Twoje</a>
            <a class="btn btn-primary text-white"  href="{% url 'notes_app:allnotes' option=1 %}">Oznaczone <i class="fas fa-star fa-sm"></i></a>
            <a class="btn btn-primary text-white"  href="{% url 'notes_app:allnotes' option=2 %}">Udostępnione</a>
       
            <hr> 
            
            <h5 class="card-title">Hashtagi:</h5>
            {% for x in notes_unique_tags %}
              <a class="btn btn-outline-secondary btn-sm" href="{% url 'notes_app:tagsview' tag=x.slug %}">
                    #{{x.name}}&nbsp
              </a>
            {%endfor%}
<hr>
            <h5>Wyszukiwanie: </h5>
            
              <form action="" method="POST">
                {%csrf_token%}
                {%bootstrap_form form%}
                <button type="submit" class="btn btn-primary" >Szukaj</button>
              </form>

            
        </div>
      </div>
    </div>
  {%endif%}

{%endblock%}

