.cardlink > a:link{
  color: rgb(255, 255, 255);
}

.cardlink > a:visited{
  color: rgb(255, 255, 255);
}

.special-link, .special-link:visited, .special-link:hover, .special-link:active {
  color: inherit;
}