
        <div class="card text-dark bg-light">

    <div class="cardlink">
        <a  href="{% url 'showtask' pk=todo_el.pk %}">
            
            {%if todo_el.done%}
            <div class="card-header text-white bg-success">
            {%else%}
            {%if todo_el.important%}
            <div class="card-header text-white bg-danger">
            {%else%}
            <div class="card-header text-white bg-info">
            {%endif%}
            {%endif%}
            {{todo_el.title}}
            </div>

        </a>
    </div>


        <div class="d-flex">
            <div class="mr-auto p-2">

                {%if todo_el.tags%}

                    <div class="cardlink"> 
                        {%for tag in todo_el.tags.all%}
                    <a class="btn btn-outline-dark text-dark btn-sm" href="{% url 'tagsview' username=todo_el.user tag=tag.slug %}">
                        #{{tag}}&nbsp
                    </a>
                    {%endfor%}
                    </div>


                {%endif%}

            </div>
            <div class="p-2">
                {%if todo_el.done%}
                <small>Ukończono: {{ todo_el.datecompleted|date:"D d M Y" }} &nbsp;</small>
                {%else%}
                <small>Utworzono: {{ todo_el.created|date:"D d M Y" }} &nbsp;</small>
                {%endif%}
            </div>
          </div>

    </div>

<hr>