{% extends "todoapp/base.html" %}
{%load bootstrap4%}
{% block content %}
<div class="d-flex justify-content-center">
    <h1>Edycja zadania</h1>
</div>


{% if todo.done %}

    <form method="POST">
        {%bootstrap_form form%}
        {%csrf_token%}
    </form>


    <form method="POST" action="{% url 'remove' pk=todo.pk user=user.username %}">
        {%csrf_token%}
        <button type="submit" class="btn btn-danger btn-block">Usuń</button>
    </form>

{%else%} 

    <form method="POST">
        {%bootstrap_form form%}
        {%csrf_token%}
        <button type="submit" class="btn btn-primary btn-block">Zapisz</button>
    </form>

    <form method="POST" action="{% url 'makecomplete' pk=todo.pk %}">
        {%csrf_token%}
        <button type="submit" class="btn btn-success btn-block">Zakończ</button>
    </form>
    
    <form method="POST" action="{% url 'remove' pk=todo.pk user=user.username %}">
        {%csrf_token%}
        <button type="submit" class="btn btn-danger btn-block">Usuń</button>
    </form>
{%endif%}





{%endblock%}